    .homepage-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding:0;
        margin:0;
    }   
    .homepage-banner{
        width: 100%;
        height:500px;
        background-image: url("../../assets/images/bannerHomePage/banner.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    .bannerLeft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 100px;
        gap:20px;
        background-color: #00000080;
    }
    .bannerLeft h1,h2{
        color:#FFFFFF;
    }
    .bannerRight{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
    }
    .video-wrapper{
        position: relative;
        width: 95%;
        height: 100%;
        }

    .videoBanner-frame{
        position: absolute;
        top:2%;
        width: 100%;
        height: 95%;
        border-radius: 10px;
    }
