.header-container {
  width: 100%;
  height: 100px;
  background: lch(13.06% 1.5 19.68);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
overflow-x: hidden;
}

/* LOGO */
.header-logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  border-right: 2px solid white;
}

.header-logo-container img {
  max-width: 80px;
  height: 80px;
}

/* NAV */
.header-nav {
  flex: 8;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.header-nav.hide {
  opacity: 0;
  transform: translateX(-40px);
  pointer-events: none;
}

/* LINKS */
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav__item {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  position: relative;
}

.nav__item:hover {
  background:
    linear-gradient(
      120deg,
      transparent 30%,
      rgba(255, 255, 255, 0.4),
      transparent 70%
    ),
    #4173b433;
}

.nav__item.active {
  box-shadow: inset 0 -2px 0 white,
              inset 0 -6px 6px -6px #ffffffd8;
}

/* SEARCH ICON */
.header-search-icon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.header-search-icon:hover {
  background:
    linear-gradient(
      120deg,
      transparent 30%,
      rgba(255, 255, 255, 0.4),
      transparent 70%
    ),
    #4173b433;
}

.bi-search {
  font-size: 20px;
  color: white;
}

/* SEARCH BAR */
.header-search {
  position: absolute;
  right: 20px;
  width: 60%;
  max-width: 500px;
  height: 44px;

  display: none;
  align-items: center;
  gap: 10px;

  background: white;
  padding: 0 16px;
  border-radius: 999px;

  transform: translateX(120%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.header-search.show {
  transform: translateX(0);
  display:flex;
  opacity: 1;
}

.header-search input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}

.close-search {
  cursor: pointer;
  font-size: 18px;
}
