.cardCourse{
    display:flex;
    flex-direction: column;
    width:100%;
    height:fit-content;
    background: lch(13.06% 1.5 19.68);
    border-radius:10px;
}
.course-img{
    width:100%;
    aspect-ratio: 4/3;
    height:auto;
}
.course-img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:100%;
    height:100%;
    object-fit: cover;
}
.course-detail{
    background:
        linear-gradient(
        120deg,
        transparent 30%,
        rgba(255, 255, 255, 0.4),
        transparent 70%
        ),
        #4173b433;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
    color:white;
    font-size:18px;
    font-weight:bold;
}
