.container-layoutAdmin{
    width:100%;
}
.mainLayoutAdmin{
    display:flex;
    margin:0;
    padding:0;
}
.container-sidebar{
    padding:20px 0;
    min-height: 100vh;
    min-width:190px;
    display:flex;
    width:max-content;
    flex-direction: column;
    flex:1;
    gap:20px;
    padding:10px;
    border-right:2px solid white;
    background: lch(13.06% 1.5 19.68);
    font-weight: bold;

}
.sidebarAdmin-Items{
    color:white;
    width:max-content;
    display: flex;
    min-width:160px;
    justify-content: flex-start;
    gap:10px;
    font-size:16px;
    padding:0 10px;
    transition: transform 0.3s ease;
}
.sidebarAdmin-Items:hover{
    transform: scale(1) !important;
    background-color:white;
    color:#252526; 
}
.container-mainAdmin{
    flex:9;
    padding:20px;
}