.cardCourse{
    display:flex;
    flex-direction: column;
    width:100%;
    height:fit-content;
    border-radius:10px;
    cursor: pointer;
}
.cardCourse:hover{
    box-shadow: 0 4px 12px white;
    background-color: rgba(255, 255, 255, 0.08);
}
.course-img{
    width:100%;
    aspect-ratio: 4/2;
    height:auto;
}
.course-img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:100%;
    height:100%;
    object-fit: cover;
}
.course-detail{
    display:flex;
    padding: 10px;
    color:white;
    font-size:16px;
}
