 .container-course{
    width:100%;
    height:100%;
    background-color:#252526;
 }
 .course-header{
    display:flex;
    flex-direction: column;
    align-items:center;
    color:white ;
    width:100%;
    min-height:595px;
    padding:  20px;
    background-image: url("../../assets/images/bannerHomePage/bannerCourse.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .course-header__title{
   display:flex;
   justify-content: center;
   flex-direction: column;
   align-items:center;
   height:400px;
   margin:0;
    padding:0;
 }
 .course-header__title h1,
 .course-header__title h3{
    opacity: 0;
    animation:fadeIn 10s ease forwards;
 }
 @keyframes fadeIn{
    to{
        opacity: 1;
    }
 }
 .course-header__icon{
    display:flex;
    justify-content: space-around;
    align-items:start;
    width:100%;
    height:100px;
    color:black;
    margin:0;
    padding:0;
 }
 .course-header__icon i{
    font-size:100px;
    opacity:0;
    transform: translateY(0);
    animation: slideIn 5s ease-out forwards;
    filter: drop-shadow(0 10px 25px hsl(0, 0%, 92%));
    background: transparent !important;
 }
 @keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(50%);
  }
}
 .course-header__icon i:nth-child(1){
    color:orange;
 }
 .course-header__icon i:nth-child(2){
    color:#215cc2;
 }
 .course-header__icon i:nth-child(3){
    color:yellow;
 }
 .btn-startStudy{
    margin-top:10px;
    padding:10px;
    color:#252526;
    font-size:26px;
    font-weight:bold;
    background: white;
    box-shadow: 0 4px 10px hsla(0, 100%, 98%, 0.786);
    border-radius: 10px;
    border-style:none;
     transition: transform 0.3s ease;
 }
 .btn-startStudy:hover{
    transform: scale(1.05);
 } 
 .course-video{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        flex:9;
        gap:10px;
    }