*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}
a {
    text-decoration: none;
    transition:
        color 0.3s,
        transform 0.2s ease;
    color: inherit;
    font-size: inherit;
}
a:hover {
    transform: scale(1.05);
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
}
