.container-footer{
    width: 100%;
    height: 100px;
    background: lch(13.06% 1.5 19.68);
    display: flex;
    align-items: center;
    box-sizing: border-box;

}
.footer-left{
    flex:2;
    align-items: center;
    text-align:center;
    color:#FFFFFF;
    
}
.footer-center{
    height: 100%;
    align-items: center;
    text-align:center;
    flex:6;
    padding:20px;
}
.footer-right{
    flex:2;
    text-align:center;
    height: 100%;
    padding: 20px 0;
    cursor: pointer;
}
.footer-right img {  
  height: 100%;
  background-color: #FFFFFF;
  padding: 0 20px;          
  box-shadow: 
    0 8px 20px #fff2f2,
    0 0 0 1px #ffffff;
}